<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>BSSS data</h1>

    <form th:action="@{/search}" method="post" class="search-form">
        <div class="form-group">
            <select name="selectedColumn" class="form-control">
                <option value="firstName">First Name</option>
                <option value="lastName">Last Name</option>
                <option value="designation">Designation</option>
                <option value="phoneNumber">Phone Number</option>
                <!-- Add more options for other columns -->
            </select>
            <input type="text" name="searchKeyword" th:value="${param.searchKeyword}" placeholder="Type your search here..." class="form-control">
            <button type="submit" class="btn-search">Search</button>
        </div>
    </form>

    <div th:if="${results}" class="search-results">
        <h2>Matching details</h2>
        <table>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Designation</th>
                <th>Phone Number</th>
                <!-- Add more headers for other columns -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${results}">
                <td th:text="${result.firstName} ? ${result.firstName} : ''"></td>
                <td th:text="${result.lastName} ? ${result.lastName} : ''"></td>
                <td th:text="${result.designation} ? ${result.designation} : ''"></td>
                <td th:text="${result.phoneNumber} ? ${result.phoneNumber} : ''"></td>
                <!-- Add more columns for other properties -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
